body{
    background-color: aqua;
}
#empo{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    text-align: center;
    /* padding: 10px; */
}

.data{
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
  
    
}